.logo{
    width: 7%;
    height: 7%;
    border-radius: 50%;
}

.card-img-top{
    width: 100%;
    height: 200px;
    object-fit: contain;
}

#AllCompany table{
    width: 100%;
    border: 2;
    text-align: center;
}